version: "3.8"
services:
  archivist-node:
    build:
      context: ./archivist-node
      dockerfile: Dockerfile
      args:
        UPSTREAM_VERSION_ARCHIVIST_NODE: 0.0.2
    image: archivist-node.public.dappnode.eth:0.2.5
    restart: unless-stopped
    environment:
      MODE: archivist-node-with-marketplace
      NETWORK: testnet
      IP_MODE: auto
      EXTRA_OPTS: ""
      ARCHIVIST_DATA_DIR: /data
      ARCHIVIST_NAT: ""
      # ARCHIVIST_METRICS: "false"
      # ARCHIVIST_METRICS_ADDRESS: 0.0.0.0
      # ARCHIVIST_METRICS_PORT: 8008
      ARCHIVIST_API_BINDADDR: 0.0.0.0
      ARCHIVIST_API_PORT: 8080
      ARCHIVIST_LISTEN_ADDRS: /ip4/0.0.0.0/tcp/8070
      ARCHIVIST_DISC_PORT: 8090
      ARCHIVIST_LOG_LEVEL: info
      ARCHIVIST_STORAGE_QUOTA: 8gb
      ARCHIVIST_BLOCK_TTL: 24h
      ARCHIVIST_API_CORS_ORIGIN: "*"
      ARCHIVIST_MARKETPLACE_ADDRESS: ""
      ARCHIVIST_ETH_PROVIDER: https://rpc.testnet.archivist.storage
      ETH_PRIVATE_KEY: ""
      NAT_PUBLIC_IP_AUTO: https://ip.archivist.storage
    ports:
      - 8070:8070/tcp # P2P transport
      - 8090:8090/udp # P2P discovery
    volumes:
      - archivist-node-data:/data
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: 5

  archivist-app:
    build:
      context: ./archivist-app
      dockerfile: Dockerfile
      args:
        UPSTREAM_VERSION_ARCHIVIST_APP: 0.0.1
    image: archivist-app.public.dappnode.eth:0.0.1
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: 5

volumes:
  archivist-node-data: {}
